@import "colors";
@import "base";
@import "utility";
@import "card";
@import "card-grid";
* {
  box-sizing: border-box;
}

:root {
  --beige: #958271;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #c7a695;
  display: grid;
  gap: 5px;
  grid-template-rows: 48px auto 48px;
  height: 100vh;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--beige);
  padding: 20px 10px 10px 10px;
  margin-bottom: 50px;
}

img {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 2%;
  box-shadow: 2px 2px 2px 1px;
}

.card-grid {
  grid-template-columns: 80px 80px;
  align-items: center;
  text-align: center;
  background-color: #958271;
  padding: 20px 10px 10px 10px;
  margin-bottom: 50px;
}

h3 {
  color: #958271;
  font-size: 24px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #433e3b;
}

.scroll-container {
  background: white;
  padding: 20px;
  overflow-y: scroll;
}
.main-navigation {
  display: flex;
  background: #757f81;
}

.main-navigation button {
  flex-grow: 1;
}

.copyright {
  color: white;
  font-size: 80%;
  margin-left: auto;
  margin-right: 15px;
}
