  <nav class="main-navigation">
    <a href="#skills">Skills</a>
    <a href="#werdegang">Werdegang</a>
    <a href="#me">Über mich</a>
    <a href="#contact">Kontakt</a>

    <p class="copyright">&copy; Tappé 2020</p>
    </nav>