<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Christophs Website</title>
    <link rel="stylesheet" href="scss/style.scss" />

    <!-- <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"/> -->

  </head>

 
    <header class="header">
      <h1>
        <h3>Christoph Tappé</h3>
      </h1>
    </header>

 
  <body>
    
  
    <main class="scroll-container">


      <section>

      <card class="card">
        <picture>
          <source srcset="images/tappe_400px.jpg" media="(min-width: 600px)">
          <img src="images/tappe_400px.jpg" alt="">
         </picture>

            <h4>Ich bin Fotograf und Web-Developer. </h4>
            <p>
              Mein Name ist Christoph Tappé und ich bin ein kommunikativer
              Allrounder der es liebt, sich neuen Herausforderungen zu stellen
              und mit einer Hands-on-Mentalität lösungsorientiert zu arbeiten.
              Erfahren Sie auf dieser Seite mehr über mich.
            </p>
           

        </card>

      </section>


        <article>
          
                <h4>Warum Fotograf bis jetzt der tollste Beruf ist: </h4>
              
               
              
          
             
                <p>Weil ich  Menschen mag und ihre Gesichter liebe. Dabei empfinde ich es
            immer wieder als tolle Herausforderung, Menschen vor der Kamera so viel Sicherheit
            zu vermitteln, dass sie ihr wahres ich zeigen können.</p>
                
           <h4>Und warum Web-Developer sogar noch viel cooler ist:</h4>
                  <p>
                 Weil ich es großartig finde, neue Dinge kennen zu lernen. Aus dem Grund freue ich mich darauf, aktiv in einer der Zukunfts-Branchen mitzuarbeiten um 
                 innovative Web-Lösungen zu entwickeln. 
                  </p>
         
        </article>

          <article>
            <h4 >Skills</h4>
              <span">WordPress</span>
              <span>MS-Office</span>
              <span>Photoshop</span>
              <span>Lightroom</span>
              <span>Adobe Premiere</span>
              <span>InDesign</span>
          </article>

          <section id="contact">
              <h4 class="alert-heading">Kontakt</h4>
              <p class="mb-0 text-dark">
                Sie sind auf der Suche nach einen Junior-Web-Developer, der zugleich über Erfahrungen im Projekt-Management verfügt, 
                den Alltag einer Agentur aus dem Effeff kennt, der es versteht, Kundenwünsche in außergewöhnliche Lösungen umzusetzen 
                und der auch in hektischen Momenten einen klaren Kopf behält? Hier bin ich:
              </p>
              <hr/>
              <p>
                Rufen Sie mich gerne an
                <a href="tel:+491791079578"> +49 179 1079578</a>
                <br>Oder schreiben Sie mir eine
                <a href="mailto:info@christophtappe.de">Mail.</a>
                <p>Friedrich-Ebert-Straße 60 • 22459 Hamburg</p>
              </p>
          </section>

 

      <table>
        <tbody>
        <tr>
          <td>ab April 2020</td>
          <td>Web-Developer </td>
        </tr>
        <tr>
          <td> Januar 2020</td>
          <td>NEUE FISCHE GmbH Bootcamp</td>
        </tr>
        <tr>
          <td>seit 2011</td>
          <td>Freier People-Fotograf Schwerpunkt: Business- und Karriereportraits </td>
        </tr>
        <tr>
          <td>seit 2015</td>
          <td>Freie Web-Projekte Word-Press-Webseiten</td>
        </tr>  
        <tr>
          <td>2011-2018</td>
          <td>Freier Kommunikationsberater Klassische Werung </td>
        </tr>
        <tr>
          <td>2005-2011</td>
          <td>GREY Werbeagentur Kundenberater</td>
        </tr>
        <tr>
          <td>1995-2004</td>
          <td>KM WOLFF Werbeagentur GmbH Kundenberater und Mitglied der Gesdhäftsleitung</td>
        </tr>
        <tr>
          <td>1991-1995 </td>
          <td>AXEL SPRINGER VERLAG AG Anzeigenverkauf BILD-Gruppe</td>
        </tr>
        <tr>
          <td>1989-1990 Ausland </td>
          <td>Ausland</td>
        </tr>

      </tbody>

          
      </table>


      <article>
        <h4>Über mich</h4>
        
        <p>Ich mag Musik und lerne seit ein paar Jahren das
        Gitarrespielen, um mich selbst beim singen zu begleiten. Außerdem liebe ich es, mich zu bewegen, was mich zum Marathon-Läufer gemacht hat. 
        Etwas entspannter lasse ich es in meinem Garten angehen – was ich wiederum sehr genieße.
        </p>
      </article>
     
    
        <footer class="mb-1">
          <ul class="nav justify-content-center">
            <li class="nav-item">
              <a class="nav-link active" href="#top">Top</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://christophtappe.de"
                >christophtappe.de</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.neuefische.de">Lernen bei den Besten!</a>
            </li>
          </ul>
          
        </footer>

      <!-- <section class="bg-warning mb-3" id="werdegang">
        <h3 class="pl-3 pt-3">Werdegang</h3>

        <dl class="row bg-warning m-0">
          <dt class="col-sm-3">ab April 2020</dt>
          <dd class="col-sm-9">
            <strong>Web-Developer </strong>
            <p>HTML, CSS, JavaScript</p>
          </dd>

          <dt class="col-sm-3">seit 2011</dt>
          <dd class="col-sm-9">
            <strong>Freier People-Fotograf </strong>
            <p>Schwerpunkt: Business- und Karriereportraits</p>
          </dd>
          
         

          <dt class="col-sm-3">seit 2015</dt>
          <dd class="col-sm-9">
            <strong>Freie Web-Projekte </strong>
            <p>WordPress-Webseiten</p>
          </dd>

          <dt class="col-sm-3">2011-2018</dt>
          <dd class="col-sm-9">
            <strong>Freier Kommunikationsberater </strong>
            <p>Klassische Werbung und FFF-Producer</p>
          </dd>

          <dt class="col-sm-3">2005-2011</dt>
          <dd class="col-sm-9">
            <p>
              <strong>GREY Werbeagentur</strong><br />
              Kundenberater
            </p>
          </dd>

          <dt class="col-sm-3">1995-2004</dt>
          <dd class="col-sm-9">
            <p>
              <strong>KM WOLFF Wergeagentur, Hamburg</strong><br />
              Kundenberater und Mitglied der Geschäftsleitung
              <dt class="col-sm-3">1991-1995</dt>
              <dd class="col-sm-9">
                <p>
                  <strong>AXEL SPRINGER AG, Hamburg</strong><br />
                  Anzeigenverkauf BILD-Gruppe
                  <dt class="col-sm-3">1989-1990</dt>
                  <dd class="col-sm-9">
                    <p>
                      <strong>AUSLAND</strong><br />
                      Barkeeper, Travel-Agent in Australia
                      <dt class="col-sm-3">1985-1988</dt>
                      <dd class="col-sm-9">
                        <p>
                          <strong>AXEL SPRINGER AG, Berlin/Hamburg</strong
                          ><br />
                          Ausbildung zum Verlagskaufmann
                        </p>
                      </dd>
                    </p>
                  </dd>
                </p>
              </dd>
            </p>
          </dd>
        </dl>
      </section> -->



      </section>
    </main>

    
      <!-- <card> -->
      <!-- <img src="face.jpg" alt="">
   
      <h5>100 Faces – mein freies Foto-Projekt in Thailand</h5>
      <p>Faszinierende Gesichter, die Geschichten erzählen. Lassen Sie sich von beeindruckenden Schwarz-Weiß-Portraits verzaubern, 
        die in berührenden 5-Minuten-Begegnungen entstanden.</p>
      <a href="http://christophtappe.de/moving-thailand-100-faces/" >Jetzt anschauen!</a>
    </card> -->
     

      
 

      


<!-- 
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script> -->
    


{{>nav-main}}

    

  </body>
</html>

